// xs, extra-small: 0px or larger
// sm, small: 600px or larger
// md, medium: 960px or larger
// lg, large: 1280px or larger
// xl, extra-large: 1920px or larger

.gridList {
  width: 60%;
  margin: auto;

  @media screen and (max-width : 960px){
    width: 100%
  }


  .gridListItem {
    cursor: pointer;

    &:hover .gridListTitleBar{
      max-height: 100%;
      height: 100%;
    }

    .gridListTitleBar{
      max-height: 40%;
      transition: max-height 0.3s ease-out;
    }
  }
  
}

.filmContainer {
  width: 100%;
  height: 100%;
}